{% extends 'base.html.twig' %}

{% block title %}Mes adresses - La Boutique De Pauline{% endblock %}

{% block content %}

    <h1>Mes adresses</h1>
    C'est dans cette espace que vous allez gérer toutes vos adresses
    <a href="{{ path('account') }}">Retour</a>
    <hr>
    Vue de mes adresses
{% endblock %}