{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique De Pauline{% endblock %}

{% block content %}

    <h1>Mon compte</h1>

    Bienvenue {{ app.user.firstname }} dans votre compte
    <hr>
    - <a href="{{ path('account_password') }}">Modifier mon mdp </a><br>
    - <a href="{{ path('account_address') }}">Gérer mes addresses </a><br>
    - <a href="{{ path('account_order') }}">Mes commandes</a><br><br>
    <hr>

{% endblock %}
