{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique De Pauline{% endblock %}

{% block content %}

    <h1>Mon compte</h1>

    Bienvenue {{ app.user.firstname }} dans votre compte
    <hr>
    {% if is_granted('ROLE_ADMIN') %}
    - <a href="/admin">Vous êtes un administrateur/Accès Backoffice </a><br>
    {% endif %}
    - <a href="{{ path('account_password') }}">Modifier mon mot de passe </a><br>
    - <a href="{{ path('account_address') }}">Gérer mes addresses </a><br>
    - <a href="{{ path('account_order') }}">Mes commandes</a><br><br>
    <hr>

{% endblock %}
